<div class="footer">
	<div class="footer__section">
		<p class="footerText">{{'FOOTER.COPYRIGHT' | translate}}</p>
	</div>

	<div class="footer__section">
		<a class="roundButton" (click)="goToVk()">
			<i class="fa fa-vk" aria-hidden="true"></i>
		</a>

		<a class="roundButton -marginLeft" (click)="goToTelegram()">
			<i class="fa fa-telegram" aria-hidden="true"></i>
		</a>

		<a class="roundButton -marginLeft" (click)="goToYouTube()">
			<i class="fa fa-youtube" aria-hidden="true"></i>
		</a>
	</div>
</div>
