<div class="navigation -marginLeft">
	<a class="headerItem" (click)="goToHome()">{{"HEADER.NAVIGATION.WORK_PLACE" | translate}}</a>

	<a class="headerItem" (click)="goToNews()">{{"HEADER.NAVIGATION.NEWS" | translate}}</a>

	<a class="headerItem" (click)="goToAbout()">{{"HEADER.NAVIGATION.ABOUT" | translate}}</a>
</div>
