<div class="create-task-form">
	<form [formGroup]="createTaskForm">
		<label>
			{{'TASK.TASK_FORM.TASK_NAME' | translate}}
			<input type="text" formControlName="taskName">

			<form-warning *ngIf="createTaskForm.get('taskName').touched && !createTaskForm.get('taskName').valid"
						  [errors]="createTaskForm.get('taskName').errors"></form-warning>
		</label>

		<label>
			{{'TASK.TASK_FORM.TASK_DESCRIPTION' | translate}}
			<textarea rows="5" formControlName="content"></textarea>

			<form-warning *ngIf="createTaskForm.get('content').touched && !createTaskForm.get('content').valid"
						  [errors]="createTaskForm.get('content').errors"></form-warning>
		</label>

		<a class="button" *ngIf="!taskName"
		   [ngClass]="{'disabled': !createTaskForm.valid}"
		   (click)="createTask()">{{'TASK.TASK_FORM.CREATE_TASK' | translate}}</a>

		<a class="button" *ngIf="taskName"
		   [ngClass]="{'disabled': !showUpdateButton}"
		   (click)="updateTask()">{{'TASK.TASK_FORM.UPDATE_TASK' | translate}}</a>
	</form>

</div>
