<div class="header">
	<div class="header__section">
		<div class="headerItem logo -clickable" (click)="goToLogin()">
			<img src="./../../../../assets/img/logo.png" alt="logo">
		</div>

		<nav-component></nav-component>
	</div>

	<div class="header__section">
		<a (click)="changeLang()" class="empty-button">{{ 'HEADER.CHANGE_LANGUAGE' | translate }}</a>

		<a (click)="exit()" class="empty-button-red -marginLeft"
		   [ngClass]="{'displayNone': !appService.appData.isLogged }">
			{{ 'HEADER.EXIT' | translate }}
		</a>

		<a class="button" [ngClass]="{'displayNone': isDisabledCopy}">{{ 'HEADER.COPY' | translate }}</a>
	</div>
</div>

<div class="mobile-header" [ngClass]="{'-translate-right': isOpenMobileMenu}">
	<a class="button" (click)="toggleMobileMenu()" *ngIf="!isOpenMobileMenu">
		<i class="fa fa-bars" aria-hidden="true"></i>
		<!-- TODO change arrow-->
		<i class="fa fa-long-arrow-left" aria-hidden="true" *ngIf="isOpenMobileMenu"></i>
	</a>

	<!-- TODO change arrow-->
	<a class="button" *ngIf="isOpenMobileMenu">
		<i class="fa fa-long-arrow-left" aria-hidden="true" *ngIf="isOpenMobileMenu"></i>
	</a>
</div>

<div class="mobile-menu"
	 [ngClass]="{'-translate-left': !isOpenMobileMenu}"
	 [click-outside]="isOpenMobileMenu" (onClickOutside)="clickOutsideMenu($event)">
	<div class="mobile-menu__section">
		<div class="headerItem logo -clickable" (click)="goToLogin()">
			<img src="./../../../../assets/img/logo.png" alt="logo">
		</div>

		<nav-component (onItemClicked)="toggleMobileMenu()"></nav-component>
	</div>

	<div class="mobile-menu__section">
		<a (click)="exit()" class="text-only-button" [ngClass]="{'displayNone': !appService.appData.isLogged }">
			{{ 'HEADER.EXIT' | translate }}
		</a>
	</div>
</div>
