@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import "variables";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $base-indent*3;
}

hr {
	width: 30vw;
	margin: $base-indent 0 2*$base-indent 0;
}

%flex {
	display: flex;
	flex-wrap: wrap;
}

%transition {
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.-clickable {
	cursor: pointer;
}

.-marginLeft {
	margin-left: $base-indent;
}

.-marginTop {
	margin-top: $base-indent;
}

.displayNone {
	display: none !important;
}

.-bold {
	font-weight: 400;
}

// ---------------  ICONS  ---------------

i.fa {
	display: block;
	width: 25px;
	height: 25px;
	font-size: 25px;
	text-align: center;
}

// --------------- BUTTONS ---------------

.empty-button {
	@include buttonCommons($green-color);
	padding: $base-indent $base-indent*1.5;
	color: $green-color;

	&:hover {
		color: white;
		background-color: $green-color;
	}

	&:active {
		background-color: darken($green-color, 5%);
		border-color: darken($green-color, 5%);
	}
}

.empty-button-red {
	@extend .empty-button;
	color: $red-color;
	border-color: $red-color;

	&:hover {
		background-color: $red-color;
	}

	&:active {
		background-color: darken($red-color, 5%);
		border-color: darken($red-color, 5%);
	}
}

.button {
	@include buttonCommons($green-color);
	@extend %transition;
	padding: $base-indent $base-indent*1.5;
	background-color: $green-color;
	color: white;
	font-weight: 400;

	&:hover {
		background-color: darken($green-color, 5%);
		border-color: darken($green-color, 5%);
	}

	&:active {
		background-color: darken($green-color, 10%);
		border-color: darken($green-color, 10%);
	}
}

.roundButton {
	@include buttonCommons(white);
	@extend %transition;
	border-radius: 50%;
	padding: $base-indent $base-indent;

	&:hover {
		background-color: white;
		color: $bg-color;
	}
}

.text-only-button {
	color: white;

	&:hover {
		text-decoration: underline;
	}
}

.in-block-button {
	@extend %transition;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vw;
	padding: $base-indent*1.5;
	position: absolute;
	top: 0;
	color: white;
	border-radius: $base-indent;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;

	&.red {
		background: $red-color;
		border: 1px solid $red-color;
		left: calc(-10vw - #{$base-indent});
	}

	&.yellow-star {
		background: $yellow-color;
		border: 1px solid $yellow-color;
		left: calc(2 * (-10vw - #{$base-indent}));
	}

	&.yellow {
		background: $yellow-color;
		border: 1px solid $yellow-color;
		right: calc(2 * (-10vw - #{$base-indent}));
	}

	&.green {
		background: $green-color;
		border: 1px solid $green-color;
		right: calc(-10vw - #{$base-indent});
	}

	i.fa {
		width: $base-indent*2 !important;
		height: $base-indent*2 !important;
	}
}

// --------------- FORMS ---------------

.form {
	text-align: center;

	> form {
		display: flex;
		flex-direction: column;
		align-items: center;

		> label {
			position: relative;
			margin-bottom: $base-indent;
			display: inline-block;

			> input, textarea {
				display: block;
				width: 40vw;
				padding: $base-indent;
				font-size: $font-size*0.8;
				border: 1px solid $bg-color;
				border-radius: $base-indent;
				resize: vertical;

				&:focus {
					outline: none;
				}
			}

			.field-warning-fail {
				font-size: $font-size*0.7;
				color: $red-color;
			}

			.field-warning-success {
				position: absolute;
				top: 0;
				right: -$font-size - 5px;
				line-height: $font-size*2;
				font-size: $font-size;
				color: $green-color;
			}
		}
	}

}

label {
	position: relative;
	margin-bottom: $base-indent;
	display: inline-block;

	> input {
		padding: $base-indent;
		font-size: $font-size*0.8;
		border: 1px solid $bg-color;
		border-radius: $base-indent;

		&:focus {
			outline: none;
		}
	}

}

// --------------- MODALS ---------------

#notifications {
	width: 30vw;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	position: fixed;
	top: $headerHeight;
	right: $base-indent*3;
	z-index: 999;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(89deg);
	}
}

.modal {
	@extend %transition;
	display: flex;
	margin-top: $base-indent * 2;
	opacity: 0.5;
	background: white;
	border: 2px solid;
	border-radius: $base-indent * 0.5;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;

	&:hover, &:active, &:focus {
		opacity: 1;
	}

	.modal-container {
		flex-grow: 1;
		width: calc(100% - #{$font-size*3});
		padding: $base-indent*1.5 $base-indent;

		.modal-header {
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: 0;
			}
		}

		.modal-body {
			padding-top: $base-indent;
		}

		.modal-footer {
			display: flex;
			flex-direction: row-reverse;
			padding-top: $base-indent;
		}
	}

	.modal-exit-button {
		@extend .-clickable;
		@extend %transition;
		flex: 1;
		flex-grow: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		width: $font-size*3;

		&:hover {
			color: white;
			font-weight: 400;

			span {
				-webkit-animation: rotation 0.4s ease-out;
			}
		}
	}
}

.modal-green {
	@extend .modal;
	border-color: $green-color;

	.modal-exit-button {
		&:hover {
			background: linear-gradient(to right, rgba($green-color, 0.9), $green-color);
		}
	}
}

.modal-red {
	@extend .modal;
	border-color: $red-color;

	.modal-exit-button {
		&:hover {
			background: linear-gradient(to right, rgba($red-color, 0.9), $red-color);
		}
	}
}

.modal-yellow {
	@extend .modal;
	border-color: $yellow-color;

	.modal-exit-button {
		&:hover {
			background: linear-gradient(to right, rgba($yellow-color, 0.9), $yellow-color);
		}
	}
}

// --------------- ENTITY ---------------

.entity-preview {
	position: relative;

	> label {
		width: 40vw;
		padding: $base-indent*1.5;
		background: $bg-color;
		color: white;
		border: 1px solid $bg-color;
		border-radius: $base-indent;
		text-align: center;
		cursor: pointer;
	}

	> input {
		display: none;

		&:checked {
			~ .in-block-button {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

@media only screen and (max-width: 820px) {
	#notifications {
		width: 90vw;
		top: 0;
		right: 5vw;
	}

	.modal {
		opacity: 1;
	}

	.modal-green {
		.modal-exit-button {
			background: linear-gradient(to right, rgba($green-color, 0.9), $green-color);
		}
	}

	.modal-yellow {
		.modal-exit-button {
			background: linear-gradient(to right, rgba($yellow-color, 0.9), $yellow-color);
		}
	}

	.modal-red {
		.modal-exit-button {
			background: linear-gradient(to right, rgba($red-color, 0.9), $red-color);
		}
	}

	.entity-preview {
		> label {
			width: $mobile-content-width;
		}

		> p {
			width: $mobile-content-width !important;
			margin-bottom: $base-indent;
		}
	}

	.in-block-button {
		width: 20vw;
		height: calc(100% - #{$base-indent});
		top: 0;
		z-index: 2;

		&.green {
			border-radius: $base-indent 0 0 $base-indent;
			left: 0;
		}

		&.yellow {
			border-radius: 0;
			left: 20vw;
		}

		&.red {
			border-radius: 0;
			left: 40vw;
		}

		&.yellow-star {
			border-radius: 0 $base-indent $base-indent 0;
			left: 60vw;
		}
	}
}
