// region COLORS

$bg-color: #525A77;
$green-color: #93E19A;
$blue-color: #1B264D;
$yellow-color: #FADD6F;
$red-color: #e46061;

// endregion COLORS

// region SIZES

$headerHeight: 70px;
$font-size: 20px;
$mobile-menu-width: 70vw;
$mobile-indent: 5vw;
$mobile-content-width: 80vw;

// endregion SIZES

// region DISTANCES

$base-indent: 10px;

// endregion DISTANCES

// region BUTTON

@mixin buttonCommons($color) {
	display: inline-block;
	border: 2px solid $color;
	-webkit-border-radius: $base-indent/3;
	-moz-border-radius: $base-indent/3;
	border-radius: $base-indent/3;
	text-transform: uppercase;

	&.disabled {
		color: grey;
		background-color: darkgrey;
		border-color: darkgrey;
		cursor: default;

		&:hover {
			color: grey;
			background-color: darkgrey;
			border-color: darkgrey;
		}
	}
}

// endregion BUTTON
