@import "variables";
@import "settings";

// region DESKTOP

// region LOGIN

.login-form {
	@extend .form;
}

.sm-center {
	@extend %flex;
	width: 20vw;
	height: 15vw;
	border: 2px solid black;
	border-radius: 15px;
	position: absolute;
	left: 40vw;
	top: 15vw;
	justify-content: center;
	align-items: center;
}

.registration-form {
	@extend .form;
}

// endregion LOGIN

// region HEADER

.header {
	@extend %flex;
	justify-content: space-between;
	height: $headerHeight;
	padding: $base-indent 10%;
	background-color: $bg-color;
}

.header__section {
	@extend %flex;
	align-items: center;
}

.headerItem {
	@extend %transition;
	padding: $base-indent $base-indent*1.5;
	font-size: $font-size;
	border-radius: $base-indent;
	color: white;

	&:hover {
		background-color: $green-color;
	}

	&:active {
		background-color: darken($green-color, 5%);
	}

	&:not(:first-child) {
		margin-left: $base-indent;
	}
}

.logo {
	@extend %flex;
	justify-content: center;
	align-items: center;

	img {
		height: $headerHeight/2;
	}
}

.mobile-header {
	display: none;
}

.mobile-menu {
	display: none;
}

// endregion HEADER

.content {
	width: 90%;
	min-height: calc(100vh - 21 / 11 * #{$headerHeight});
	margin: 0 auto;
	padding: 3*$base-indent 0;
}

.content-holder {
	@extend %flex;
	flex-direction: column;
	align-items: center;
}

.subject-preview {
	@extend .entity-preview;

	//&:active {
	//	background-color: lighten($bg-color, 10%);
	//	border: lighten($bg-color, 10%);
	//}
}

.create-subject-form {
	@extend .form;
}

.exam-preview {
	@extend .entity-preview;

	> input:checked ~ p {
		display: block;
	}

	> p {
		width: 40vw;
		display: none;
	}

}

.create-exam-form {
	@extend .form;
}

.create-task-form {
	@extend .form;
}

.task-preview {
	@extend .entity-preview;
}

.task-preview-favorite {
	@extend .entity-preview;

	> img {
		width: 4 * $base-indent;
		position: absolute;
		top: 0;
		left: 2 * $base-indent;
		z-index: 1;
		cursor: pointer;
	}
}

.question-container {
	width: 60vw;
	margin: 0 auto;
}

// region NEWS

.news-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-piece {
	@extend %transition;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $base-indent*2;
	border: 1px solid transparent;
	border-radius: $base-indent;
	background-color: rgba($bg-color, 0.1);

	&:not(:last-child) {
		margin-bottom: $base-indent * 2;
	}

	&:hover {
		background-color: rgba($bg-color, 0.2);

		.news-piece__footer {
			color: #000;
		}
	}

	.news-piece__info {
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: $base-indent;
		}

		p {
			margin-bottom: $base-indent;
		}
	}

	.news-piece__footer {
		display: flex;
		justify-content: space-between;
		color: rgba(#000, 0.5);
		font-size: $font-size * 0.75;
	}
}

// endregion NEWS

// region ABOUT
.about-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.developer {
	@extend %transition;
	display: flex;
	align-items: center;
	margin-bottom: $base-indent;
	border: 1px solid transparent;
	border-radius: $base-indent;
	padding: $base-indent * 2;
	cursor: pointer;

	&:hover {
		background-color: rgba($bg-color, 0.15);

		p {
			opacity: 1;
		}
	}

	h2 {
		margin-bottom: $base-indent;
	}

	img {
		max-width: 200px;
		max-height: 200px;
		min-width: 80px;
		min-height: 80px;
		width: 15vw;
		height: 15vw;
		border-radius: 50%;
		margin-right: $base-indent * 3;
	}

	p {
		opacity: 0.5;
	}
}

// endregion ABOUT

// region FOOTER

.footer {
	display: flex;
	justify-content: space-between;
	min-height: $headerHeight/1.1;
	background-color: $bg-color;
	color: white;
	padding: $base-indent 10%;
}

.footer__section {
	display: flex;
	align-items: center;
}

.footerText {
	@extend %transition;
	cursor: default;
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}
}

// endregion FOOTER

// region PROGRESS BAR
.progress-bar {
	width: 100%;
	background-color: grey;

	.bar-content {
		width: 1%;
		height: 30px;
		background-color: green;
	}
}

// endregion PROGRESS BAR

// endregion DESKTOP

// region MOBILE

@media only screen and (max-width: 820px) {

	.-translate-left {
		transform: translate(-$mobile-menu-width);
	}

	.-translate-right {
		overflow-y: hidden;
		transition: all 0.3s ease-out;
		transform: translate($mobile-menu-width);
		//pointer-events: none;
	}

	// region HEADER
	.header {
		display: none;
	}

	.mobile-header {
		display: block;
		height: $headerHeight;
		padding: $base-indent $mobile-indent;
		background-color: $bg-color;
		transition: all 0.3s ease-out;
	}

	.mobile-menu {
		width: $mobile-menu-width;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 0;
		padding: $base-indent;
		background: $bg-color;
		border-right: 1px solid darken($bg-color, 10%);
		z-index: 2;
		transition: all 0.3s ease-out;

		&__section {
			text-align: center;
		}
	}

	.navigation {
		margin-top: $base-indent;
		display: flex;
		flex-direction: column;
		align-items: center;

		.headerItem {
			width: 80%;
			text-align: center;
			margin-left: 0;
		}
	}
	// endregion HEADER

	.content {
		min-height: calc(100vh - 2.5 * #{$headerHeight});
		transition: all 0.3s ease-out;
	}

	// region FORMS
	.form {
		input, textarea {
			width: $mobile-content-width !important;
		}
	}
	// endregion FORMS

	.news-piece {
		width: $mobile-content-width;
	}

	.developer {
		background-color: rgba($bg-color, 0.15);
	}

	// region FOOTER
	.footer {
		height: 1.5 * $headerHeight;
		padding: $base-indent $mobile-indent;
		flex-direction: column;
		transition: all 0.3s ease-out;
	}

	.footer__section:first-child {
		margin-bottom: $base-indent;
	}
	// endregion FOOTER

}

// endregion MOBILE


