<div class="content-holder">
	<div class="exam-preview"
		 *ngFor="let exam of exams"
		 (dbclick)="goToTaskPage(exam)">

		<label for="{{exam.examName}}">{{exam.examName}}</label>
		<input type="checkbox" id="{{exam.examName}}">

		<div class="in-block-button red" (click)="deleteSubject(exam, $event)">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow" (click)="updateSubject(exam, $event)">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>

		<div class="in-block-button green" (click)="goToTaskPage(exam)">
			<i class="fa fa-eye" aria-hidden="true"></i>
		</div>

		<p *ngIf="exam.examDescription"><span class="-bold">{{'EXAMS.DESCRIPTION' | translate}}</span>
			{{exam.examDescription}}</p>
	</div>

	<a class="empty-button" (click)="createExam()">{{'EXAMS.CREATE_EXAM' | translate}}</a>
</div>
