<div class="about-holder" *ngIf="developers">

	<h1>{{'ABOUT.DEVELOPERS' | translate}}</h1>

	<div class="developer" *ngFor="let developer of developers" (click)="goToDeveloper(developer)">
		<img [src]="developer.pic" alt="developer image">
		<div class="developer__text">
			<h2>{{developer.name}}</h2>
			<p>{{developer.description}}</p>
		</div>
	</div>
</div>
