<div class="news-holder" *ngIf="news">
	<div class="news-piece" *ngFor="let newPiece of news">
		<div class="news-piece__info">
			<h2>{{newPiece.header? newPiece.header : ('NEWS.NO_TITLE' | translate)}}</h2>
			<p>{{newPiece.text}}</p>
		</div>

		<div class="news-piece__footer">
			<p>{{newPiece.author? newPiece.author : ('NEWS.NO_AUTHOR' | translate)}}</p>
			<p>{{newPiece.createdAt}}</p>
		</div>
	</div>
</div>
