<!--<task *ngFor="let task of notFavoriteTasks"-->
<!--[task]="task"-->
<!--(taskClicked)="goToTextPage($event)"-->
<!--class="-marginTop"></task>-->

<div class="content-holder">
	<a class="button" (click)="goToSubjectsPage()">{{'WORK_PLACE.GO_SUBJECT' | translate}}</a>
</div>
