<div class="create-exam-form">
	<form [formGroup]="createExamForm">
		<label>
			{{'EXAMS.EXAM_FORM.EXAM_NAME' | translate}}
			<input type="text" formControlName="examName">

			<form-warning *ngIf="createExamForm.get('examName').touched && !createExamForm.get('examName').valid"
						  [errors]="createExamForm.get('examName').errors"></form-warning>
		</label>

		<label>
			{{'EXAMS.EXAM_FORM.EXAM_DESCRIPTION' | translate}}
			<textarea type="text" rows="5" no-new-line formControlName="examDescription"></textarea>

			<form-warning
				*ngIf="createExamForm.get('examDescription').touched && !createExamForm.get('examDescription').valid"
				[errors]="createExamForm.get('examDescription').errors"></form-warning>
		</label>

		<a class="button" *ngIf="!(examName)"
		   [ngClass]="{'disabled': !createExamForm.valid}"
		   (click)="createExam()">{{'EXAMS.EXAM_FORM.CREATE_EXAM' | translate}}</a>

		<a class="button" *ngIf="examName"
		   [ngClass]="{'disabled': !showUpdateButton}"
		   (click)="updateExam()">{{'EXAMS.EXAM_FORM.UPDATE_EXAM' | translate}}</a>
	</form>
</div>
