<div class="content-holder">
	<div class="task-preview-favorite"
		 *ngFor="let favoriteTask of favoriteTasks; let i=index"
		 (dbclick)="goToTaskPage(favoriteTask)">

		<img src="../../../../assets/img/favorite.png"
			 alt="favorite-img"
			 (click)="makeFavorite(favoriteTask)">

		<label for="{{favoriteTask.taskName}}">{{i+1 + '. ' + favoriteTask.taskName}}</label>
		<input type="checkbox" id="{{favoriteTask.taskName}}" (click)="uncheck($event)">

		<div class="in-block-button red" (click)="deleteTask(favoriteTask, $event)">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow" (click)="updateTask(favoriteTask, $event)">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>

		<div class="in-block-button green" (click)="goToTaskPage(favoriteTask)">
			<i class="fa fa-eye" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow-star" (click)="makeFavorite(favoriteTask)">
			<i class="fa fa-star-o" aria-hidden="true"></i>
		</div>
	</div>

	<hr *ngIf="favoriteTasks && favoriteTasks.length">

	<div class="task-preview"
		 *ngFor="let task of notFavoriteTasks; let i=index"
		 (dbclick)="goToTaskPage(task)">

		<label for="{{task.taskName}}">{{i+1 + '. ' + task.taskName}}</label>
		<input type="checkbox" id="{{task.taskName}}" (click)="uncheck($event)">

		<div class="in-block-button red" (click)="deleteTask(task, $event)">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow" (click)="updateTask(task, $event)">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>

		<div class="in-block-button green" (click)="goToTaskPage(task)">
			<i class="fa fa-eye" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow-star" (click)="makeFavorite(task)">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>

		<!--<p *ngIf="task.taskDescription">{{'TASK.DESCRIPTION' | translate}} {{task.taskDescription}}</p>-->
	</div>

	<a class="empty-button" (click)="createTask()">{{'TASK.CREATE_TASK' | translate}}</a>
</div>
