<div class="registration-form">
	<h1>{{'REGISTRATION.TITLE' | translate}}</h1>

	<form [formGroup]="registrationForm">
		<label>
			{{'REGISTRATION.EMAIL' | translate}}
			<input type="email" formControlName="email">

			<form-warning *ngIf="registrationForm.get('email').touched"
						  [errors]="registrationForm.get('email').errors"></form-warning>
		</label>

		<label>
			{{'REGISTRATION.USER_NAME' | translate}}
			<input type="text" formControlName="userName">

			<form-warning *ngIf="registrationForm.get('userName').touched"
						  [errors]="registrationForm.get('userName').errors"></form-warning>
		</label>

		<label>
			{{'REGISTRATION.PASSWORD' | translate}}
			<input type="password" formControlName="password">

			<form-warning *ngIf="registrationForm.get('password').touched"
						  [errors]="registrationForm.get('password').errors"></form-warning>
		</label>

		<label>
			{{'REGISTRATION.PASSWORD_REPEAT' | translate}}
			<input type="password" formControlName="passwordRepeat">

			<form-warning
				*ngIf="registrationForm.get('passwordRepeat').touched"
				[errors]="registrationForm.get('passwordRepeat').errors"></form-warning>
		</label>
	</form>

	<a class="button -marginTop" (click)="register()">{{'REGISTRATION.REGISTER' | translate}}</a>
</div>
