<div class="login-form">
	<h1>{{'LOGIN.TITLE' | translate}}</h1>

	<form [formGroup]="loginForm">
		<label>
			{{'LOGIN.EMAIL' | translate}}
			<input type="email" formControlName="email" placeholder="exaple@gmail.com">

			<form-warning *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid"
						  [errors]="loginForm.get('email').errors"></form-warning>
		</label>

		<label>
			{{'LOGIN.PASSWORD' | translate}}
			<input type="password" formControlName="password" placeholder="********">

			<form-warning *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid"
						  [errors]="loginForm.get('password').errors"></form-warning>
		</label>
	</form>

	<a class="empty-button" (click)="register()">{{'LOGIN.REGISTER' | translate}}</a>
	<a class="button -marginLeft" (click)="login()">{{'LOGIN.ENTER' | translate}}</a>
</div>

<!--<br>-->
<!--<ait-modal type="warning" body="MODAL.EXAMPLE" title="LOGIN.REGISTER"></ait-modal>-->
<!--<br>-->
<!--<ait-modal type="error" body="MODAL.EXAMPLE" title="LOGIN.REGISTER"></ait-modal>-->
<!--<br>-->
<!--<ait-modal title="MODAL.SUCCESS"></ait-modal>-->
