<div class="field-warning-fail" *ngIf="errorMessages && errorMessages.length">
	<p *ngFor="let message of errorMessages">
		{{message}}
	</p>
</div>

<p class="field-warning-success" *ngIf="!errorMessages || !errorMessages.length">✓</p>
