<div class="content-holder">
	<div class="subject-preview"
		 *ngFor="let subject of subjects"
		 (dbclick)="goToExamPage(subject)">
		<label for="{{subject.subjectId}}">{{subject.subjectName}}</label>
		<input type="checkbox" id="{{subject.subjectId}}" (click)="uncheck($event)">

		<div class="in-block-button red" (click)="deleteSubject(subject.subjectId, $event)">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</div>

		<div class="in-block-button yellow" (click)="updateSubject(subject, $event)">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>

		<div class="in-block-button green" (click)="goToExamPage(subject)">
			<i class="fa fa-eye" aria-hidden="true"></i>
		</div>
	</div>

	<a class="empty-button" (click)="addSubject()">{{'SUBJECTS.ADD_SUBJECT' | translate}}</a>
</div>
