<div [class]="'modal' + modalColor">
	<div class="modal-container">
		<div class="modal-header" *ngIf="title && title.length">
			<h3>{{title | translate}}</h3>
		</div>

		<div class="modal-body" *ngIf="body && body.length">
			{{body | translate}}
		</div>

		<div class="modal-footer" *ngIf="hasFooter">
			<a class="button -marginLeft">{{'MODAL.OK' | translate}}</a>
			<a class="empty-button">{{'MODAL.OK1' | translate}}</a>
		</div>
	</div>

	<div class="modal-exit-button" *ngIf="!hasFooter" (click)="callToDestroy()">
		<span>╳</span>
	</div>
</div>
