<div class="create-subject-form">
	<form [formGroup]="createSubjectForm">
		<label>
			{{'SUBJECTS.SUBJECT_FORM.SUBJECT_NAME' | translate}}
			<input type="text" formControlName="subjectName">

			<form-warning
				*ngIf="createSubjectForm.get('subjectName').touched && !createSubjectForm.get('subjectName').valid"
				[errors]="createSubjectForm.get('subjectName').errors"></form-warning>
		</label>

		<a class="button" *ngIf="!subjectId"
		   [ngClass]="{'disabled': !createSubjectForm.valid}"
		   (click)="createSubject()">{{'SUBJECTS.SUBJECT_FORM.CREATE_SUBJECT' | translate}}</a>

		<a class="button" *ngIf="subjectId"
		   [ngClass]="{'disabled': !showUpdateButton}"
		   (click)="updateSubject()">{{'SUBJECTS.SUBJECT_FORM.UPDATE_SUBJECT' | translate}}</a>
	</form>

</div>
